<p>centerspage works!</p>
<div>
<input type="text" placeholder="Search..">
<button>Search</button>
</div>
<label for="Centre">Choose:</label>

<select name="Centre" id="Centre">
  <option value="name">Name</option>
  <option value="address">Address</option>
  <option value="longitude">Longitude</option>
  <option value="latitude">Latitude</option>
  <option value="description">Description</option>
  <option value="centreGradeId">Grade</option>
  <option value="city">City</option>
</select>

<table>
  <tr>
    <th>Centre</th>
    <th>Name</th>
    <th>Address</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Description</th>
    <th>Centre grade</th>
    <th>City</th>
  </tr>

</table>